.App {
  text-align: center;
}

nav {
  min-height: 10vh;
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  width: 10%;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.nav-links a, h1 a {
  color: black;
  text-decoration: none;
}